.buttons {
  //width: 400px;
  //height: 100px;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: right;
  & button {
    background: linear-gradient(315deg, rgb(4, 1, 17) 0%, rgba(58,72,221,1) 100%);
    color: yellow;
    width: 180px;
    height: 40px;
    border: 2px solid   rgba(0, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 20px;
    margin: 0.3rem;
    &:hover {
      cursor: pointer;
      background: linear-gradient(315deg, rgb(24, 21, 37) 0%, rgba(78,92,241,1) 100%);
      color: rgb(225, 225, 180);
      font-weight: 700;
    }
  }
}