.game {
  background-image: url(https://www.zastavki.com/pictures/originals/2015/Backgrounds_____Blue_background_with_rays_092795_.jpg);
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 1024px;
  height: calc(100vh - 100px);
  align-items: center;

  & .field {
    display: flex;
    width: fit-content;
    flex-direction: column;
    & .row {
      display: flex;
      flex-direction: row;
      & .cell {
        display: flex;
        height: 96px;
        width: 64px;
        padding: 1px;
        align-items: center;
        justify-content: center;
        background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
        & .wrapper {
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          & .icon1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          & .icon2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          & .icon3 {
            grid-area: 2 / 1 / 3 / 2;
          }
          & .icon4 {
            grid-area: 2 / 2 / 3 / 3;
          }
          & .icon5 {
            grid-area: 3 / 1 / 4 / 2;
          }
          & .icon6 {
            grid-area: 3 / 2 / 4 / 3;
          }
        }
      }
    }
  }
  & .tipsRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1px;
    & .cell {
      position: relative;
      display: flex;
      height: 50px;
      width: 150px;
      //padding: 1px;
      align-items: center;
      justify-content: space-between;
      background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
      & .type {
        position: absolute;
      }
    }
  }
  & .tipsColumn {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px;
    & .cell {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 150px;
      //padding: 1px;
      align-items: center;
      justify-content: space-between;
      background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
      & .type {
        position: absolute;
      }
    }
  }
}

.transparent {
  opacity: 0;
}