.game {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 110px);
  align-items: center;

  & .fieldCells {
    margin: 1rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    & .row {
      display: flex;
      flex-direction: row;
      margin: 1.5px;
      & .cell {
        display: flex;
        width: calc(8vh + 4px);
        //height: 8vh;
        margin-right: 3px;
        align-items: center;
        justify-content: center;
        background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
        border: 2px solid   rgba(0, 255, 255, 0.3);
        border-radius: 5px;
        & .iconOpen {
          width: 8vh;
          height: 8vh;
          border-radius: 5px;
          background: rgb(198, 229, 240);
          border: rgb(95, 74, 189) solid 1px;
        }
        & .wrapper {
          height: fit-content;
          width: fit-content;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          & .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
            width: 4vh;
            height: 4vh;
            border-radius: 5px;
            background: rgb(198, 229, 240);
            border: rgb(95, 74, 189) solid 1px;
            &:hover {
              background: rgb(221, 241, 132);
            }
          }
          & .icon1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          & .icon2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          & .icon3 {
            grid-area: 2 / 1 / 3 / 2;
          }
          & .icon4 {
            grid-area: 2 / 2 / 3 / 3;
          }
          & .icon5 {
            grid-area: 3 / 1 / 4 / 2;
          }
          & .icon6 {
            grid-area: 3 / 2 / 4 / 3;
          }
        }
      }
    }
  }

  & .fieldTips {
    //height: 80vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .tipsRow {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 3px;
      & .cell {
        position: relative;
        display: flex;
        height: 6vh;
        width: 18vh;
        align-items: center;
        justify-content: space-between;
        background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
        border: 2px solid   rgba(0, 255, 255, 0.3);
        border-radius: 5px;
        &:hover {
          border: 1px solid  rgba(30, 255, 0, 0.3);
        }
        & .iconContainer {
          width: 32%;
          height: 99%;
          border-radius: 5px;
          background: rgb(198, 229, 240);
          border: rgb(95, 74, 189) solid 1px;
          &:hover {
            background: rgb(221, 241, 132);
          }
        }
        & .type {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
    & .wrapperTipsColumButton{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.5rem;
      & .tipsColumn {
        display: flex;
        flex-direction: row;
        & .cell {
          position: relative;
          display: flex;
          flex-direction: column;
          height: 12vh;
          width: 6vh;
          align-items: center;
          justify-content: space-between;
          background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
          border: 2px solid rgba(0, 255, 255, 0.3);
          border-radius: 5px;
          margin-right: 3px;
          &:hover {
            border: 1px solid  rgba(30, 255, 0, 0.3);
          }
          & .iconContainer {
            width: 96%;
            height: 47%;
            border-radius: 5px;
            background: rgb(198, 229, 240);
            border: rgb(95, 74, 189) solid 1px;
          }
        }
      }
      & .wrapperButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (orientation:portrait) {
  .game {
    margin: 5px;
    flex-direction: column;
    height: fit-content;
    .field {
      display: flex;
      width: fit-content;
      flex-direction: column;
    }
  }
}