.game {
  //background-image: url(https://www.zastavki.com/pictures/originals/2015/Backgrounds_____Blue_background_with_rays_092795_.jpg);
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 1024px;
  height: calc(100vh - 100px);
  align-items: center;
  & .field {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    & .cell {
      display: flex;
      height: 96px;
      width: 64px;
      padding: 1px;
      align-items: center;
      justify-content: center;
      background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
      & .wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }
  & .tips {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}