.game {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  //width: 1024px;
  height: calc(100vh - 110px);
  align-items: center;

  .field {
    display: flex;
    width: fit-content;
    flex-direction: column;
    & .row {
      display: flex;
      flex-direction: row;
      margin: 1.5px;
      & .cell {
        display: flex;
        height: 90px;
        width: 60px;
        margin-right: 3px;
        //padding: 1px;
        align-items: center;
        justify-content: center;
        background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
        border: 2px solid   rgba(0, 255, 255, 0.3);
        border-radius: 5px;
        & .wrapper {
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          & .icon1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          & .icon2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          & .icon3 {
            grid-area: 2 / 1 / 3 / 2;
          }
          & .icon4 {
            grid-area: 2 / 2 / 3 / 3;
          }
          & .icon5 {
            grid-area: 3 / 1 / 4 / 2;
          }
          & .icon6 {
            grid-area: 3 / 2 / 4 / 3;
          }
        }
      }
    }
  }
  & .tipsRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 3px;
    & .cell {
      position: relative;
      display: flex;
      height: 50px;
      width: 150px;
      //padding: 1px;
      align-items: center;
      justify-content: space-between;
      background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
      border: 2px solid   rgba(0, 255, 255, 0.3);
      border-radius: 5px;
      & .type {
        position: absolute;
      }
    }
  }
  & .wrapperTipsColumButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    & .tipsColumn {
      display: flex;
      flex-direction: row;
      & .cell {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 50px;
        align-items: center;
        justify-content: space-between;
        background:linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(58,72,221,1) 100%);
        border: 2px solid rgba(0, 255, 255, 0.3);
        border-radius: 5px;
        margin-right: 3px;
      }
    }
    & .wrapperButtons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
    & button {
      background: linear-gradient(315deg, rgb(4, 1, 17) 0%, rgba(58,72,221,1) 100%);
      color: yellow;
      width: 180px;
      height: 40px;
      border: 2px solid   rgba(0, 255, 255, 0.3);
      border-radius: 5px;
      font-size: 20px;
      margin: 0.3rem;
    }
  }
}