.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  & .modalBody {
    position: relative;
    padding: 2rem;
    width: 450px;
    border-radius: 5px;
    background: rgb(209, 198, 198);
    & .page {
      & h3 {
        margin: 0;
      }
      & ol {
        margin: 0.5rem;
        font-size: 1.5rem;
        width: 80%;
        & li {
          margin-top: 0.5rem;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .close {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: transparent;
      border: none;
      font-size: 17px;
      color: black;
      text-align: center;
      margin: 0;
      &:hover {
        background: red;
      }
    }
    .slaiderBtn {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      width: 200px;
      justify-content: space-evenly;
      position: absolute;
      bottom: 5px;
      left: calc(50% - 100px);
      & .btnLeft {
        grid-area: 1 / 1 / 2 / 2;
      }
      & .btnIndex {
        grid-area: 1 / 2 / 2 / 3;
      }
      & .btnRight {
        grid-area: 1 / 3 / 2 / 4;
      }
      & button {
        width: 50px;
        text-align: center;
      }
    }
  }  
}