.footer {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  & .gtm003 {
    display: block;
    width: 90px;
    height: 50px;
    background: url('../../assets/gtm003.svg') 100%/contain no-repeat;
  }
  & .RSSchool {
    display: block;
    width: 60px;
    height: 40px;
    background: url('../../assets/rs_logo.svg') 100%/contain no-repeat;
  }
  & .youtube {
    display: block;
    width: 90px;
    height: 60px;
    background: url('../../assets/youtube.svg') 100%/contain no-repeat;
  }
}

.RSSchool {
  background: green;
}