.defeat {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  & .defeatBody {
    border-radius: 5px;
    position: absolute;
    width: 400px;
    height: 120px;
    background: linear-gradient(315deg, rgb(4, 1, 17) 0%, rgba(58,72,221,1) 100%);
    top: calc(50% - 60px);
    left: calc(50% - 200px);
    color: yellow;
    text-align: center;
  }
}